<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/data/repository http://www.springframework.org/schema/data/repository/spring-repository-1.5.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-lazy-init="false">

	<context:spring-configured />
	<context:annotation-config />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/concourplus-db" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>
	<bean id="jpaVendorAdapter"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />

	<bean id="emf"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="org.concourplus.model" />
		<property name="persistenceUnitName" value="org.concourplus.jpa" />
		<property name="jpaVendorAdapter" ref="jpaVendorAdapter" />
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="emf" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />
	<context:component-scan base-package="org.concourplus" />

	<jpa:repositories
		factory-class="org.springframework.data.envers.repository.support.EnversRevisionRepositoryFactoryBean"
		entity-manager-factory-ref="emf" base-package="org.concourplus.dao" />
	
<!--  <jpa:auditing auditor-aware-ref="springSecurityAuditorAware" />
	<bean class="org.springframework.orm.hibernate4.HibernateExceptionTranslator" />
 -->

<!-- 	<bean id="serviceLogger" class="fr.percall.si.base.services.logging.ServiceLogger" />
 -->
<!-- 	<aop:aspectj-autoproxy>
		<aop:include name="serviceLogger" />
	</aop:aspectj-autoproxy>
 -->

</beans>