<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns="http://www.springframework.org/schema/security"
	xmlns:http="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
						   http://www.springframework.org/schema/security
						   http://www.springframework.org/schema/security/spring-security.xsd">
						   
	<http pattern="/ws/auth/login" security="none" />
	<http pattern="/ws/auth/register" security="none" />
	<http pattern="/ws/auth/check" security="none" />
	
	<http pattern="/ws/**" entry-point-ref="restAuthenticationEntryPoint"
		create-session="stateless">
		<!--csrf disabled="true"/ -->
		<custom-filter before="FORM_LOGIN_FILTER"
			ref="jwtAuthenticationFilter" />
	</http>
	
	<beans:bean id="jwtAuthenticationFilter"
		class="org.concourplus.service.security.JwtAuthenticationFilter">
		<beans:property name="authenticationManager"
			ref="jwtAuthenticationManager" />
		<beans:property name="authenticationSuccessHandler"
			ref="jwtAuthenticationSuccessHandler" />
	</beans:bean>

	<authentication-manager
		alias="jwtAuthenticationManager">
		<authentication-provider
			ref="jwtAuthenticationProvider" />
	</authentication-manager>

	<beans:bean id="saltSource"
		class="org.concourplus.service.accesssetup.impl.ConcourPlusSalt"
		scope="singleton" />

	<!-- Auth using BCrypt -->
	<beans:bean id='bCryptPasswordEncoder'
		class='org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder' />
	<authentication-manager
		alias="authenticationManager">
		<authentication-provider
			user-service-ref="userDetailService">
			<password-encoder ref="bCryptPasswordEncoder" />
		</authentication-provider>
	</authentication-manager>

	<!-- Auth using sha-256 -->
	<!--authentication-manager alias="authenticationManager"> <authentication-provider 
		user-service-ref="userDetailService"> <password-encoder hash="sha-256"> <salt-source 
		ref="saltSource" /> </password-encoder> </authentication-provider> </authentication-manager -->

	<global-method-security
		secured-annotations="enabled" jsr250-annotations="enabled" pre-post-annotations="enabled" />
</beans:beans>