<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/security"
       xmlns:http="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
						   http://www.springframework.org/schema/security
						   http://www.springframework.org/schema/security/spring-security.xsd">
	
	<http auto-config="true" disable-url-rewriting="true" pattern="/**">
		<!-- access-denied-page="/index.xhtml" -->
		<access-denied-handler error-page="/index.xhtml" />
		<form-login login-page="/index.xhtml"
			authentication-failure-url="/index.xhtml" />

		<logout delete-cookies="JSESSIONID" invalidate-session="true"
			logout-success-url="/index.xhtml" logout-url="/j_spring_security_logout" />

		<session-management invalid-session-url="/index.xhtml?faces-redirect=true"
			session-authentication-error-url="/index.xhtml?faces-redirect=true">
			<concurrency-control max-sessions="1"
				expired-url="/index.xhtml" error-if-maximum-exceeded="true" />
		</session-management>
	</http>

	<beans:bean id="saltSource"
		class="org.concourplus.service.accesssetup.impl.ConcourPlusSalt" scope="singleton" />
		
	<!-- Auth using BCrypt -->
    <beans:bean id='bCryptPasswordEncoder' class='org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder'/>
	<authentication-manager alias="authenticationManager">
		<authentication-provider
			user-service-ref="userDetailService">
			<password-encoder ref="bCryptPasswordEncoder"/>
		</authentication-provider>
	</authentication-manager>
	
	<!-- Auth using sha-256 -->
	<!--authentication-manager alias="authenticationManager">
		<authentication-provider
			user-service-ref="userDetailService">
			<password-encoder hash="sha-256">
				<salt-source ref="saltSource" />
			</password-encoder>
		</authentication-provider>
	</authentication-manager-->

	<global-method-security secured-annotations="enabled"
		jsr250-annotations="enabled" />
</beans:beans>